Tests/resources/in_vitro_ODDs/transpile.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:rng="http://relaxng.org/ns/structure/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Title</title>
      </titleStmt>
      <publicationStmt>
        <p>Publication Information</p>
      </publicationStmt>
      <sourceDesc>
        <p>Information about the source</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="schema" start="root">
        <classSpec ident="class-model" type="model" generate="sequenceOptionalRepeatable"/>
        <classSpec ident="class-att" type="atts">
          <classes>
            <memberOf key="class-model"/>
          </classes>
          <attList>
            <attDef ident="four">
              <datatype>
                <dataRef name="int"/>
              </datatype>
              <valList type="open">
                <valItem ident="1"/>
                <valItem ident="2"/>
                <valItem ident="3"/>
              </valList>
            </attDef>
          </attList>
        </classSpec>
        <dataSpec ident="dataref-vallist">
          <valList type="closed">
            <valItem ident="three"/>
          </valList>
        </dataSpec>
        <dataSpec ident="dataref-content-vallist">
          <content>
            <valList type="closed">
              <valItem ident="three"/>
            </valList>
          </content>
        </dataSpec>
        <elementSpec ident="root">
          <content>
            <elementRef key="element-1"/>
            <elementRef key="element-2"/>
            <elementRef key="element-3"/>
            <elementRef key="element-5"/>
          </content>
        </elementSpec>
        <elementSpec ident="element-1">
          <content>
            <anyElement/>
          </content>
          <attList>
            <attDef ident="att-datatype-dataref-name-vallist-open">
              <datatype>
                <dataRef name="string"/>
              </datatype>
              <valList type="open">
                <valItem ident="one"/>
                <valItem ident="two"/>
              </valList>
            </attDef>
            <attDef ident="att-nodatatype-vallist-semi">
              <datatype>
                <dataRef name="string"/>
              </datatype>
              <valList type="semi">
                <valItem ident="one"/>
                <valItem ident="two"/>
              </valList>
            </attDef>
            <attDef ident="att-nodatatype-vallist-closed">
              <valList type="closed">
                <valItem ident="one"/>
                <valItem ident="two"/>
              </valList>
            </attDef>
            <attDef ident="att-datatype-name-novallist">
              <datatype>
                <dataRef name="int"/>
              </datatype>
            </attDef>
            <attDef ident="att-datatype-dataref-key-vallist">
              <datatype>
                <dataRef key="dataref-vallist"/>
              </datatype>
            </attDef>
            <attDef ident="att-datatype-dataref-key-content-vallist">
              <datatype>
                <dataRef key="dataref-content-vallist"/>
              </datatype>
            </attDef>
            <attDef ident="att-datatype-dataref-key-content-vallist-vallist">
              <datatype>
                <dataRef key="dataref-content-vallist"/>
              </datatype>
              <valList type="open">
                <valItem ident="one"/>
                <valItem ident="two"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="element-2">
          <classes>
            <memberOf key="class-att"/>
          </classes>
        </elementSpec>
        <elementSpec ident="element-3">
          <classes>
            <memberOf key="class-model"/>
          </classes>
        </elementSpec>
        <elementSpec ident="element-4">
          <classes>
            <memberOf key="class-model"/>
          </classes>
          <content>
            <textNode/>
          </content>
        </elementSpec>
        <elementSpec ident="element-5">
          <content>
            <classRef key="class-model" expand="sequenceOptionalRepeatable"/>
          </content>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
