Tests/resources/sample_ODDs/prohd_TEI_Publisher.odd

<?xml-model href="teipublisher_odds.xsd"?><TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en"><teiHeader><fileDesc>
      <titleStmt><title>ProHD</title></titleStmt>
      <publicationStmt>
        <publisher>
          <ref target="http://www.bbaw.de">Berlin-Brandenburgische Akademie der Wissenschaften
            (BBAW)</ref>
        </publisher>
        <pubPlace ref="http://www.geonames.org/2950159">Berlín</pubPlace>
        <availability status="free">
          <licence target="http://creativecommons.org/licenses/by/4.0/">Creative Commons Atribución
            4.0 Internacional (CC BY 4.0) </licence>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
        <p>Born digital</p>
      </sourceDesc>
    </fileDesc><encodingDesc><tagsDecl><rendition selector=".choice"> color: #888888; </rendition></tagsDecl></encodingDesc><revisionDesc>
      <change when="2021-01-28">Initial version</change>
    </revisionDesc></teiHeader><text>
    <body>
      <schemaSpec start="TEI teiCorpus" ident="prohd" source="teipublisher.odd">

        <elementSpec ident="pb" mode="change"><model predicate="@facs" behaviour="inline">
            <param name="url" value="@facs"/>
            <pb:template xmlns="" xml:space="preserve">
                        <pb-facs-link facs="[[url]]" emit="transcription"/>
					</pb:template>
        </model><model predicate="@facs" behaviour="webcomponent" cssClass="facs">
            <param name="name" value="'pb-facs-link'"/>
            <param name="content" value="@n"/>
            <param name="facs" value="replace(@facs, '^img:(.*)$', '$1')"/>
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
                            font-size: 16px;
                            color: #888888;
                            cursor: pointer;
                            display: inline;
                            display: block;
                            margin-right: 5px;
                            float: right;
     
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model><model output="web" predicate="@n and $parameters?view='page'" behaviour="inline">
            <param name="content" value="@n"/>
            <outputRendition xml:space="preserve">
            font-size: 16px;
                            color: #888888;
                            cursor: pointer;
                            display: inline;
                            display: block;
                            margin-right: 5px;
                            float: right;
            </outputRendition>
        </model><model predicate="@n" behaviour="inline">
            <param name="content" value="@n"/>
            <outputRendition xml:space="preserve">
            font-size: 16px;
                            color: #888888;
                            cursor: pointer;
                            display: inline;
                            display: block;
                            margin-right: 5px;
                            float: right;
padding-left: 10px;
            </outputRendition>
        </model></elementSpec>

        <elementSpec ident="choice" mode="change"><model output="plain" predicate="sic and corr" behaviour="inline">
            <param name="content" value="corr[1]"/>
        </model><model output="plain" predicate="abbr and expan" behaviour="inline">
            <param name="content" value="expan[1]"/>
        </model><model output="plain" predicate="orig and reg" behaviour="inline">
            <param name="content" value="reg[1]"/>
        </model><model predicate="$parameters?mode='norm' and sic and corr" behaviour="alternate" cssClass="choice">
            <param name="default" value="corr[1]"/>
            <param name="alternate" value="sic[1]"/>
        </model><modelSequence predicate="sic and corr">
            <model behaviour="alternate" cssClass="choice">
                <param name="default" value="sic[1]"/>
                <param name="alternate" value="corr[1]"/>
            </model>
            <model behaviour="alternate" cssClass="choice-alternate">
                <param name="alternate" value="corr[1]"/>
            </model>
        </modelSequence><model predicate="$parameters?mode='norm' and abbr and expan" behaviour="alternate" cssClass="choice">
            <param name="default" value="expan[1]"/>
            <param name="alternate" value="abbr[1]"/>
        </model><modelSequence predicate="abbr and expan">
            <model behaviour="alternate" cssClass="choice">
                <param name="default" value="abbr[1]"/>
                <param name="alternate" value="expan[1]"/>
            </model>
            <model behaviour="alternate" cssClass="choice-alternate">
                <param name="alternate" value="abbr[1]"/>
            </model>
        </modelSequence><model predicate="$parameters?mode='norm' and orig and reg" behaviour="alternate" cssClass="choice">
            <param name="default" value="reg[1]"/>
            <param name="alternate" value="orig[1]"/>
        </model><modelSequence predicate="orig and reg">
            <model behaviour="alternate" cssClass="choice">
                <param name="default" value="orig[1]"/>
                <param name="alternate" value="reg[1]"/>
            </model>
            <model behaviour="alternate" cssClass="choice-alternate">
                <param name="alternate" value="orig[1]"/>
            </model>
        </modelSequence></elementSpec>
        
        <elementSpec ident="name" mode="change"><model behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="id(substring-after(@ref, '#'), root($parameters?root))/node()"/>
            <outputRendition xml:space="preserve">
            color: green;
            </outputRendition>
        </model></elementSpec>

        <elementSpec ident="persName" mode="add"><model predicate="ancestor::profileDesc and matches(., 'N/A')" behaviour="inline">
            <pb:template xmlns="" xml:space="preserve"><pb-i18n key="document.unknown"/></pb:template>
        </model><model predicate="ancestor::teiHeader" behaviour="inline"/><model predicate="parent::person" behaviour="inline">
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model><model predicate="ancestor::text" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model></elementSpec>

        <elementSpec ident="note" mode="change"><model predicate="@type=&#34;editorial&#34;" behaviour="omit"/><model predicate="parent::org" behaviour="block">
            <outputRendition xml:space="preserve">
            text-align: justify;
            </outputRendition>
        </model><model predicate="parent::person or parent::place" behaviour="inline">
            <outputRendition xml:space="preserve">
            text-variant: italic;
            </outputRendition>
        </model><model predicate="@place" behaviour="note">
            <param name="place" value="@place"/>
            <param name="label" value="@n"/>
        </model><model predicate="parent::div and not(@place)" behaviour="block">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            

            
            margin-left: 10px;margin-right: 10px;
                  font-size:smaller;

            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model><model predicate="not(@place)" behaviour="inline">
            <outputRendition xml:space="preserve" scope="before">
            content:" [";
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content:"] ";
            </outputRendition>
            <outputRendition xml:space="preserve">
            font-size:small;
            </outputRendition>
        </model></elementSpec>
        
        <elementSpec ident="rs" mode="change"><model behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="id(substring-after(@ref, '#'), root($parameters?root))/node()"/>
            <outputRendition xml:space="preserve">
            color: green;
            </outputRendition>
        </model></elementSpec>
        
        <elementSpec ident="seg" mode="change"><model output="web" behaviour="webcomponent">
            <param name="name" value="'pb-highlight'"/>
            <param name="key" value="replace(@xml:id, '^s\.(.*)$', 't.$1')"/>
            <param name="highlight-self" value="'highlight-self'"/>
        </model><model behaviour="inline" useSourceRendition="true"/></elementSpec>
        
        <elementSpec ident="titleStmt" mode="change"><model output="latex" behaviour="meta">
            <param name="content" value="."/>
        </model><model output="fo" behaviour="heading"/><modelSequence output="web" predicate="$parameters?header='short'">
            <model behaviour="link">
                <param name="content" value="title[1]"/>
                <param name="uri" value="$parameters?doc"/>
            </model>
            <model behaviour="block">
                <param name="creator" value="root(.)//teiHeader/profileDesc/creation/persName[1]"/>
                <param name="sender" value="root(.)//teiHeader/profileDesc/correspDesc/correspAction[@type=&#34;sent&#34;]/persName"/>
                <param name="separator" value="' '"/>
                <pb:template xmlns="" xml:space="preserve">[[creator]][[separator]][[sender]]</pb:template>
            </model>
            <model behaviour="inline">
                <param name="content" value="author"/>
            </model>
            <model behaviour="block" cssClass="incipit">
                <desc>incipit</desc>
                <param name="content" value="root(.)//seg[@type='incipit']"/>
            </model>
        </modelSequence><model output="web" behaviour="heading">
            <param name="level" value="4"/>
        </model><model predicate="$parameters?mode='commentary' and count(editor)=2" behaviour="inline">
            <param name="forename1" value="editor[1]/persName/forename"/>
            <param name="surname1" value="editor[1]/persName/surname"/>
            <param name="content" value="' '"/>
            <param name="forename2" value="editor[2]/persName/forename"/>
            <param name="surname2" value="editor[2]/persName/surname"/>
            <pb:template xmlns="" xml:space="preserve"><div>
  <h3><pb-i18n key="document.edition"/></h3>
  <p><pb-i18n key="document.editor"/>[[forename1]][[content]][[surname1]][[content]]<pb-i18n key="document.and"/>[[content]][[forename2]][[content]][[surname2]]</p>
</div></pb:template>
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model><model predicate="$parameters?mode='commentary' and count(editor)=1" behaviour="inline">
            <param name="forename1" value="editor[1]/persName/forename"/>
            <param name="surname1" value="editor[1]/persName/surname"/>
            <param name="content" value="' '"/>
            <pb:template xmlns="" xml:space="preserve"><div>
  <h3><pb-i18n key="document.edition"/></h3>
  <p><pb-i18n key="document.editor"/>[[forename1]][[content]][[surname1]]</p>
</div></pb:template>
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model></elementSpec>
        
        <elementSpec ident="teiHeader" mode="change"><model output="latex" behaviour="block">
            <param name="content" value="(fileDesc/titleStmt/title[not(@type)], profileDesc/correspDesc)"/>
            <pb:template xmlns="" xml:space="preserve">\def\volume{[[content]]}</pb:template>
        </model><model output="fo" behaviour="omit"/><model output="web" predicate="$parameters?header='short'" behaviour="block"/><model predicate="$parameters?mode='commentary'" behaviour="block">
            <param name="profileDesc" value="profileDesc"/>
            <param name="titleStmt" value="fileDesc/titleStmt"/>
            <param name="editionStmt" value="fileDesc/editionStmt/p"/>
            <param name="publicationStmt" value="fileDesc/publicationStmt"/>
            <param name="sourceDesc" value="fileDesc/sourceDesc"/>
            <pb:template xmlns="" xml:space="preserve"><div>
  <div>[[profileDesc]]</div>
  <div>[[titleStmt]][[editionStmt]][[publicationStmt]]</div>
  <div>[[sourceDesc]]</div>
</div>  </pb:template>
        </model><model output="web" predicate="$parameters?mode='title'" behaviour="inline">
            <param name="content" value="(fileDesc/titleStmt/title)"/>
        </model><model output="web" behaviour="metadata"/></elementSpec>
        
        <elementSpec ident="lb" mode="change"><model predicate="$parameters?mode='norm'" behaviour="omit"/><model behaviour="break" cssClass="lb">
            <param name="type" value="'line'"/>
            <param name="label" value="@n"/>
        </model></elementSpec>
        
        <elementSpec ident="fw" mode="change"><model output="web" predicate="@type='folNum' and $parameters?view='page'" behaviour="inline">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            display: inline-block;
margin-top: .5em;
margin-bottom: 1em;
color: #CCC;
padding-right: 10px;
            
            
            
            
            
            
            
            </outputRendition>
        </model><model output="web" predicate="@place='top' and $parameters?view='page'" behaviour="inline">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            display: inline-block;
                            margin-top: .5em;
                            margin-bottom: 1em;
                            color: #CCC;
            
            
            
            
            
            
            
            </outputRendition>
        </model><model output="web" predicate="@type='sig' and $parameters?view='page'" behaviour="block">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            margin-top: 1em;
                            color: #A0A0A0;
                            text-align: left;
            
            
            
            
            
            
            
            </outputRendition>
        </model><model output="web" predicate="@type='catch' and $parameters?view='page'" behaviour="block">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                            margin-left: 20em;
                            color: #A0A0A0;
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model><model behaviour="omit"/></elementSpec>
        
        <elementSpec ident="app" mode="change"><model behaviour="inline">
            <param name="content" value="lem"/>
            <param name="alternate" value="rdg"/>
            <param name="persistent" value="true()"/>
            <param name="name" value="'pb-popover'"/>
            <pb:template xmlns="" xml:space="preserve">
                <pb-popover persistent="[[persistent]]">[[content]]<span slot="alternate">[[alternate]]</span></pb-popover>
            </pb:template>
        </model></elementSpec>
        
        <elementSpec ident="ref" mode="change"><model output="web" predicate="@target" behaviour="link">
            <param name="uri" value="@target"/>
            <outputRendition xml:space="preserve">
            color:#008F8F;
            </outputRendition>
        </model><model predicate="@ana" behaviour="inline" cssClass="itinerary"/><model predicate="not(@target)" behaviour="inline"/><model predicate="not(node())" behaviour="link">
            <param name="content" value="@target"/>
            <param name="uri" value="@target"/>
        </model></elementSpec>
        
        <elementSpec ident="fileDesc" mode="change"><model predicate="$parameters?mode='commentary'" behaviour="block"/><modelSequence predicate="$parameters?header='short'">
            <model behaviour="link" cssClass="header-short">
                <param name="content" value="titleStmt"/>
                <param name="uri" value="$parameters?doc"/>
            </model>
        </modelSequence><model behaviour="title">
            <param name="content" value="titleStmt"/>
        </model></elementSpec>
        
        <elementSpec ident="editor" mode="change"><model behaviour="inline"/></elementSpec>
        
        <elementSpec ident="title" mode="change"><modelSequence predicate="parent::titleStmt/parent::fileDesc">
            <model predicate="@type=&#34;main&#34;" behaviour="heading">
                <param name="level " value="2"/>
            </model>
            <model predicate="preceding-sibling::title or @type=&#34;sub&#34;" behaviour="heading">
                <param name="level" value="3"/>
            </model>
        </modelSequence><model predicate="not(@level) and parent::bibl" behaviour="inline"/><modelSequence predicate="@level='m' or not(@level)">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="ancestor::biblFull" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence><modelSequence predicate="@level='s' or @level='j'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (  ancestor::biblFull)" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence><modelSequence predicate="@level='u' or @level='a'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (    ancestor::biblFull)" behaviour="text">
                <param name="content" value="'. '"/>
            </model>
        </modelSequence><model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model></elementSpec>
        <elementSpec ident="sourceDesc" mode="add"><model behaviour="block">
            <param name="institution" value="msDesc/msIdentifier/institution"/>
            <param name="repository" value="msDesc/msIdentifier/repository"/>
            <param name="collection" value="msDesc/msIdentifier/collection"/>
            <param name="shelfmark" value="msDesc/msIdentifier/idno/idno[@type=&#34;shelfmark&#34;]"/>
            <param name="uri" value="msDesc/msIdentifier/idno/idno[@type=&#34;uri&#34;]"/>
            <param name="URLImages" value="msDesc/msIdentifier/idno/idno[@type=&#34;URLImages&#34;]"/>
            <param name="URLCatalogue" value="msDesc/msIdentifier/idno/idno[@type=&#34;URLCatalogue&#34;]"/>
            <param name="physDesc" value="msDesc/physDesc/p"/>
            <pb:template xmlns="" xml:space="preserve"><div>
  <h3><pb-i18n key="document.source"/></h3>
  <p>[[institution]]</p>
  <p>[[repository]]</p>
  <p>[[collection]]</p>
  <p>[[shelfmark]]</p>
  <p>[[uri]]</p>
  <p>[[physDesc]]</p>
</div></pb:template>
            <outputRendition xml:space="preserve">
            
            </outputRendition>
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model></elementSpec>
        <elementSpec ident="msDesc" mode="add"><model behaviour="block">
            <param name="institution" value="msIdentifier/institution"/>
            <param name="shelfmark" value="msIdentifier/idno/idno[@type=&#34;shelfmark&#34;]"/>
            <param name="desc" value="physDesc/p"/>
            <param name="collection" value="msIdentifier/collection"/>
            <param name="repository" value="msIdentifier/repository"/>
            <param name="uri" value="msIdentifier/idno/idno[@type=&#34;uri&#34;]"/>
            <param name="images" value="msIdentifier/idno/idno[@type=&#34;URLImages&#34;]"/>
            <param name="catalogue" value="msIdentifier/idno/idno[@type=&#34;URLCatalogue&#34;]"/>
            <pb:template xmlns="" xml:space="preserve">[[institution]]
[[repository]]
[[collection]]
[[shelfmark]]
[[uri]]
[[images]]
[[catalogue]]
[[desc]]</pb:template>
        </model></elementSpec>

        <elementSpec ident="person" mode="add"><model predicate="parent::listPerson" behaviour="block">
            <outputRendition xml:space="preserve">
            padding-bottom: 15px;
            </outputRendition>
        </model><model predicate="$parameters?mode='commentary'" behaviour="inline" cssClass="person-entry">
            <pb:template xmlns="" xml:space="preserve"><li>[[content]]</li></pb:template>
        </model><model behaviour="inline"/></elementSpec>
        <elementSpec ident="p" mode="change"><model predicate="parent::physDesc" behaviour="paragraph">
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model><model behaviour="paragraph" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            text-align: justify;
            </outputRendition>
        </model></elementSpec>
        <elementSpec ident="profileDesc" mode="change"><modelSequence predicate="$parameters?header='short'">
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="abstract[@xml:lang=&#34;es&#34;]"/>
            </model>
        </modelSequence><model predicate="$parameters?mode='commentary' and correspDesc" behaviour="block">
            <param name="receiver" value="correspDesc/correspAction[@type=&#34;received&#34;]/persName"/>
            <param name="dateSent" value="correspDesc/correspAction[@type=&#34;sent&#34;]/date"/>
            <param name="placeSent" value="correspDesc/correspAction[@type=&#34;sent&#34;]/placeName"/>
            <param name="sender" value="correspDesc/correspAction[@type=&#34;sent&#34;]/persName"/>
            <pb:template xmlns="" xml:space="preserve"><div>
  <h3><pb-i18n key="document.creation"/></h3>
    <p><pb-i18n key="document.sender"/> [[sender]]</p>
    <p><pb-i18n key="document.place"/> [[placeSent]]</p>
    <p><pb-i18n key="document.date"/> [[dateSent]]</p>
   	<p><pb-i18n key="document.receiver"/> [[receiver]]</p>
</div></pb:template>
        </model><model predicate="$parameters?mode='commentary' and creation[count(persName)=2]" behaviour="block">
            <param name="author1" value="creation/persName[1]"/>
            <param name="place" value="creation/placeName"/>
            <param name="receiver" value="correspDesc/correspAction[@type=&#34;received&#34;]/persName"/>
            <param name="date" value="creation/date"/>
            <param name="dateSent" value="correspDesc/correspAction[@type=&#34;sent&#34;]/date"/>
            <param name="placeSent" value="correspDesc/correspAction[@type=&#34;sent&#34;]/placeName"/>
            <param name="content" value="', '"/>
            <param name="author2" value="creation/persName[2]"/>
            <param name="sender" value="correspDesc/correspAction[@type=&#34;sent&#34;]/persName"/>
            <pb:template xmlns="" xml:space="preserve"><div>
  <h3><pb-i18n key="document.creation"/></h3>
    <p><pb-i18n key="document.author"/> [[author1]]</p>
  	<p><pb-i18n key="document.author"/> [[author2]]</p>
    <p><pb-i18n key="document.place"/> [[place]]</p>
    <p><pb-i18n key="document.date"/> [[date]]</p>
</div></pb:template>
        </model><model predicate="$parameters?mode='commentary' and creation[count(persName)=1]" behaviour="block">
            <param name="author1" value="creation/persName[1]"/>
            <param name="place" value="creation/placeName"/>
            <param name="date" value="creation/date"/>
            <pb:template xmlns="" xml:space="preserve"><div>
  <h3><pb-i18n key="document.creation"/></h3>
    <p><pb-i18n key="document.author"/> [[author1]]</p>
    <p><pb-i18n key="document.place"/> [[place]]</p>
    <p><pb-i18n key="document.date"/> [[date]]</p>
</div></pb:template>
        </model><model behaviour="omit"/></elementSpec>
        
        <elementSpec ident="place" mode="add"><model predicate="$parameters?mode='commentary'" behaviour="block">
            <pb:template xmlns="" xml:space="preserve"><li>[[content]]</li></pb:template>
        </model><model behaviour="inline"/></elementSpec>
        <elementSpec ident="bibl" mode="change"><model output="web" predicate="@sameAs" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style:italic;
            </outputRendition>
        </model><model predicate="$parameters?mode='commentary' and not(parent::p)" behaviour="inline">
            <pb:template xmlns="" xml:space="preserve"><li>[[content]]</li></pb:template>
        </model><model predicate="parent::listBibl" behaviour="listItem"/></elementSpec>
      <elementSpec ident="surname" mode="add"><model behaviour="inline">
            <outputRendition xml:space="preserve" scope="after">
            ","
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="licence" mode="change"><model output="web" predicate="@target" behaviour="link" cssClass="licence">
            <param name="uri" value="@target"/>
            <outputRendition xml:space="preserve">
            color:#008F8F;
            </outputRendition>
        </model><model behaviour="omit"/></elementSpec>
                <elementSpec ident="funder" mode="add"/>
                <elementSpec ident="publisher" mode="change"><model predicate="ancestor::teiHeader" behaviour="inline"/></elementSpec>
                <elementSpec ident="notesStmt" mode="add"/>
                <elementSpec ident="institution" mode="add"><model behaviour="block"/></elementSpec>
                <elementSpec ident="collection" mode="add"><model behaviour="block"/></elementSpec>
                <elementSpec ident="repository" mode="add"><model behaviour="block"/></elementSpec>
                <elementSpec ident="idno" mode="add"><model predicate="@type=&#34;shelfmark&#34;" behaviour="inline"/><model output="web" predicate="@type=&#34;URLCatalogue&#34;" behaviour="link"/><model output="web" predicate="@type=&#34;URLImages&#34;" behaviour="link"/><model output="web" predicate="@type=&#34;uri&#34;" behaviour="link">
            <param name="uri" value="."/>
            <outputRendition xml:space="preserve">
            color:#008F8F;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="del" mode="change"><model behaviour="inline">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            text-decoration: line-through;
color:red;
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="correspDesc" mode="add"/>
                <elementSpec ident="placeName" mode="add"><model predicate="ancestor::profileDesc and matches(., 'N/A')" behaviour="inline">
            <pb:template xmlns="" xml:space="preserve"><pb-i18n key="document.unknown"/></pb:template>
        </model><model predicate="ancestor::teiHeader" behaviour="inline"/></elementSpec>
                <elementSpec ident="date" mode="change"><model predicate="ancestor::profileDesc and matches(., 'N/A')" behaviour="inline">
            <pb:template xmlns="" xml:space="preserve"><pb-i18n key="document.unknown"/></pb:template>
        </model><model output="print" predicate="text()" behaviour="inline"/><model output="print" predicate="@when and not(text())" behaviour="inline">
            <param name="content" value="@when"/>
        </model><model output="web" predicate="ancestor::text and @when" behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="@when"/>
        </model><model predicate="text()" behaviour="inline"/></elementSpec>
                <elementSpec ident="publicationStmt" mode="change"><model predicate="$parameters?mode='commentary'" behaviour="inline">
            <param name="licence" value="availability/licence"/>
            <pb:template xmlns="" xml:space="preserve"><p>[[licence]]</p></pb:template>
        </model></elementSpec>
                <elementSpec ident="editionStmt" mode="add"><model predicate="$parameters?mode='commentary'" behaviour="block">
            <param name="editionStmt" value="p"/>
            <pb:template xmlns="" xml:space="preserve"><p>[[editionStmt]]</p></pb:template>
        </model></elementSpec>
                <elementSpec ident="hi" mode="change"><model predicate="@rendition=&#34;#mMM&#34;" behaviour="inline">
            <outputRendition xml:space="preserve">
            background-color: #F2F0EB;
            </outputRendition>
        </model><model predicate="@rendition=&#34;#i&#34;" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model><model predicate="@rendition=&#34;#b&#34;" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model><model predicate="@rendition=&#34;#uu&#34;" behaviour="inline" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            text-decoration-line: underline;
text-decoration-style: double;
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model><model predicate="@rendition=&#34;#sup&#34;" behaviour="inline" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            vertical-align:super;
            </outputRendition>
        </model><model predicate="@rendition=&#34;#u&#34;" behaviour="inline" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            text-decoration: underline;
            </outputRendition>
        </model><model predicate="not(@rendition or @rend)" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="gap" mode="change"><model predicate="desc" behaviour="inline">
            <outputRendition xml:space="preserve">
            color: grey;
            </outputRendition>
        </model><model predicate="@quantity" behaviour="inline">
            <param name="content" value="@quantity"/>
            <outputRendition xml:space="preserve" scope="before">
            content: '[..';
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content: '..]';
            </outputRendition>
            <outputRendition xml:space="preserve">
            color: grey;
            </outputRendition>
        </model><model behaviour="inline">
            <outputRendition xml:space="preserve" scope="before">
            content: '[...]';
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="space" mode="add"><model predicate="@quantity" behaviour="inline">
            <param name="content" value="@quantity"/>
            <outputRendition xml:space="preserve" scope="before">
            content: '[_';
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content: '_]';
            </outputRendition>
            <outputRendition xml:space="preserve">
            color: grey;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="div" mode="change"><model predicate="@type='title_page'" behaviour="block">
            <outputRendition xml:space="preserve">
            border: 1px solid black; padding: 5px;
            </outputRendition>
        </model><model predicate="parent::body or parent::front or parent::back" behaviour="section"/><model behaviour="block"/></elementSpec>
                <elementSpec ident="list" mode="change"><model predicate="@rendition" behaviour="list" useSourceRendition="true">
            <param name="content" value="item"/>
        </model><model predicate="not(@rendition)" behaviour="list">
            <param name="content" value="item"/>
        </model></elementSpec>
                <elementSpec ident="table" mode="change"><model behaviour="table">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            font-size: smaller;
display: block;
border-collapse: collapse;
padding: 10px;
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="add" mode="change"><model predicate="@place=&#34;superlinear&#34;" behaviour="inline">
            <outputRendition xml:space="preserve">
            color: green; vertical-align: super; text-decoration: underline;
            </outputRendition>
        </model><model predicate="@place=&#34;sublinear&#34;" behaviour="inline">
            <outputRendition xml:space="preserve">
            color: green; vertical-align: sub; text-decoration: underline;
            </outputRendition>
        </model><model behaviour="inline">
            <outputRendition xml:space="preserve">
            color: green; text-decoration: underline;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="figDesc" mode="change"><model behaviour="inline">
            <outputRendition xml:space="preserve" scope="before">
            content: '[..';
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content: '..]';
            </outputRendition>
            <outputRendition xml:space="preserve">
            color: grey;font-style:italic;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="figure" mode="change"><model predicate="head or @rendition='simple:display'" behaviour="block"/><model behaviour="inline"/></elementSpec>
                <elementSpec ident="metamark" mode="add"><model behaviour="inline">
            <outputRendition xml:space="preserve" scope="after">
            content: ' * ';
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="unclear" mode="change"><model behaviour="inline">
            <outputRendition xml:space="preserve" scope="after">
            content: ' [?] ';
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="address" mode="change"><model behaviour="block">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            margin-top: 2em; margin-left: 2em; margin-right: 2em;
                  margin-bottom: 2em;
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="addrLine" mode="change"><model behaviour="block">
            <outputRendition xml:space="preserve">
            white-space: nowrap;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="dateline" mode="change"><model predicate="@rend=&#34;align(right)&#34;" behaviour="block">
            <outputRendition xml:space="preserve">
            text-align: right;
            </outputRendition>
        </model><model predicate="not(@rend)" behaviour="block">
            <outputRendition xml:space="preserve">
            text-align: left;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="foreign" mode="change"><model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style:italic;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="opener" mode="change"><model behaviour="block"/></elementSpec>
                <elementSpec ident="supplied" mode="change"><model predicate="parent::choice" behaviour="inline"/><model predicate="@reason='damage'" behaviour="inline">
            <outputRendition xml:space="preserve" scope="before">
            content:"&lt;";
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content:"&gt;";
            </outputRendition>
        </model><model predicate="@reason='illegible' or not(@reason)" behaviour="inline">
            <outputRendition xml:space="preserve" scope="before">
            content:"[";
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content:"]";
            </outputRendition>
        </model><model predicate="@reason='omitted'" behaviour="inline">
            <outputRendition xml:space="preserve" scope="before">
            content:"(";
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content:")";
            </outputRendition>
        </model><model behaviour="inline">
            <outputRendition xml:space="preserve" scope="before">
            content:"{";
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content:"}";
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="signed" mode="change"><model predicate="parent::closer and @rend=&#34;align(right)&#34;" behaviour="block">
            <outputRendition xml:space="preserve">
            text-align: right;
            </outputRendition>
        </model><model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="closer" mode="change"><model behaviour="block">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            margin-top: 1em; margin-left: 1em; margin-left:
                  1em;
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="postscript" mode="change"><model behaviour="block">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            margin-top: 3em;
margin-right: 3em;
margin-bottom: 3em;
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model></elementSpec>
            <elementSpec ident="affiliation" mode="add"><model predicate="parent::person" behaviour="block"/></elementSpec>
                <elementSpec ident="occupation" mode="add"><model predicate="parent::person" behaviour="block"/></elementSpec>
                <elementSpec ident="org" mode="add"><model predicate="parent::listOrg" behaviour="block">
            <outputRendition xml:space="preserve">
            padding-bottom: 15px;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="orgName" mode="add"><model predicate="parent::org" behaviour="block">
            <outputRendition xml:space="preserve">
            font-weight:bold;
            </outputRendition>
        </model></elementSpec>
            <elementSpec ident="g" mode="change"><model predicate="$parameters?mode='norm'" behaviour="omit"/><model predicate="@ref" behaviour="inline">
            <outputRendition xml:space="preserve" scope="after">
            content:'-';
            </outputRendition>
        </model><model predicate="not(text())" behaviour="glyph">
            <param name="uri" value="@ref"/>
        </model></elementSpec>
                <elementSpec ident="subst" mode="change"><model predicate="$parameters?mode='norm' and del and add" behaviour="alternate" cssClass="choice">
            <param name="default" value="add[1]"/>
            <param name="alternate" value="del[1]"/>
        </model></elementSpec>
            <elementSpec ident="ab" mode="change"><model behaviour="paragraph">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            background-color: #F2F0EB;
font-family: monospace;
border: 1px solid #999;
display: block;
padding: 10px;
white-space: pre-wrap;
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model></elementSpec><elementSpec ident="row" mode="change"><model predicate="@role='label'" behaviour="row">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            font-weight: bold;
border: 1px solid #999;
background-color: #F2F0EB;
border-collapse: collapse;
padding: 10px;
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model><model behaviour="row">
            <desc>Insert table row. </desc>
        </model></elementSpec><elementSpec ident="cell" mode="change"><model behaviour="cell">
            <desc>Insert table cell. </desc>
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            border: 1px solid #999;
background-color: #F2F0EB;
border-collapse: collapse;
padding: 10px;
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model></elementSpec><elementSpec ident="creation" mode="add"/></schemaSpec>
    </body>
  </text></TEI>